<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
     <script>
        $(function () {//当所有的元素被加载出来之后才会执行这个function里面的代码
        // #为id,  .为class
            $("#submit-btn").click(function (event) {
                // event.preventDefault：阻止按钮的默认行为
                event.preventDefault();
                //获取标签
                var usernameInput = $('input[name="username"]');
                //获取标签的值
                var username = usernameInput.val();
                var passwordInput = $("input[name='password']");
                var password = passwordInput.val();
                $.post({
                    {#url  ：表示对服务器的哪个页面发送网络请求#}
                    'url': '/login/',
                    {#表示发送的数据是什么,这里会涉及到username,password等数据的获取,见上#}
                    'data': {
                        'username': username,
                        'password': password
                    },
                    {#如果发送成功,就会执行success这个key所对应的value#}
                    "success": function(data){
                        {#console.log(data);#}

                        if(data['code'] == 200){
                            window.location = '/'
                        }else{
                            var message = data['message'];
                           {#对 下边的p标签的id的标签的操作#}
                            $("#message-p").html(message);
                            $("#message-p").show();
                        }
                        console.log(data);
                    },
                    'fail': function (error) {
                        console.log(error);
                    }
                });
            }
            );
        });
    </script>

</head>
<body>
{#点击按钮的时候,也是提交到当前的页面,url可以留空#}
<form action="" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="submit-btn" class="submit-btn">立即登录</button></td>
        </tr>
    </table>
    <p style="display:none;color:red;" id="message-p"></p>
</form>
</body>
</html>